@charset "UTF-8";
/***************** FOOTER **********************/
/***************** FIN FOOTER **********************/
/***************** index.html **********************/
/***************** FIN index.html **********************/
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box; }

html {
  font-size: 12px; }

a {
  text-decoration: none;
  color: #292929; }

img {
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  height: auto; }

li {
  list-style-type: none; }

main {
  grid-area: main; }

.imagen-redondeada, .imagen-redondeada-con-borde {
  border-radius: 2px; }

.imagen-redondeada-con-borde {
  border: solid 1px #dee2e6; }

.cursor-pointer {
  cursor: pointer; }

/******************* MIXINS ***********************/
header {
  grid-area: header;
  background-color: rgba(251, 248, 241, 0.95);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  width: 100%;
  z-index: 999;
  animation: fadeIn;
  animation-duration: 2s; }
  header .header__logo {
    width: 124px; }
    @media screen and (min-width: 768px) {
      header .header__logo {
        width: 140px; } }
    @media screen and (min-width: 992px) {
      header .header__logo {
        width: 170px; } }
  header .header__menuDerecho button {
    background-color: transparent;
    border-radius: 7px;
    border: none;
    font-size: 1rem;
    padding: 10px;
    color: #292929; }
    header .header__menuDerecho button span {
      display: none; }
      @media screen and (min-width: 992px) {
        header .header__menuDerecho button span {
          display: inline; } }

#grilla__index {
  display: grid;
  grid-template-areas: "header" "publicidad" "novedades" "atributos" "footer";
  grid-template-rows: minmax(60px, max-content) 1fr auto auto auto;
  grid-template-columns: 100%; }
  #grilla__index #carouselPublicidad .imagen-1 {
    content: url("../assets/imagen-principal-1.jpg"); }
  #grilla__index #carouselPublicidad .imagen-2 {
    content: url("../assets/imagen-principal-2.jpg"); }
  #grilla__index #carouselPublicidad .imagen-3 {
    content: url("../assets/imagen-principal-3.jpg"); }
  #grilla__index #novedades {
    margin-top: 40px;
    margin-bottom: 40px; }
    #grilla__index #novedades .card .imagen-1 {
      content: url("../assets/producto-A.jpg"); }
    #grilla__index #novedades .card .imagen-2 {
      content: url("../assets/bandolera-negra.jpg"); }
    #grilla__index #novedades .card .imagen-3 {
      content: url("../assets/riñonera_negra.jpg"); }
    #grilla__index #novedades .card .imagen-4 {
      content: url("../assets/mochi-small-negra.jpg"); }
  #grilla__index #atributos {
    max-width: 540px; }
    @media screen and (min-width: 992px) {
      #grilla__index #atributos {
        max-width: 800px; } }
    #grilla__index #atributos .card {
      font-size: 0.8rem; }
      #grilla__index #atributos .card img {
        width: 50px; }

/***************** FOOTER **********************/
/***************** FIN FOOTER **********************/
/***************** index.html **********************/
/***************** FIN index.html **********************/
#contenedor-producto {
  max-width: 966px; }
  @media screen and (min-width: 768px) {
    #contenedor-producto {
      margin: 5rem auto 0 auto; } }
  #contenedor-producto #tarjeta-info-producto {
    max-width: 450px; }
    @media screen and (min-width: 768px) {
      #contenedor-producto #tarjeta-info-producto {
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); } }

footer .col {
  font-size: 1.2rem; }
  footer .col a {
    display: flex;
    justify-content: end; }

#main-contacto textarea {
  resize: none;
  height: 100px; }

/***************************** TRANSICIONES Y ANIMACIONES ********************************/
.transition-regular {
  transition: all 0.3s; }

/* efecto 3d */
.threed:hover {
  box-shadow: 1px 1px #e0e2e4, 2px 2px #e0e2e4, 3px 3px #e0e2e4;
  -webkit-transform: translateX(-3px);
  transform: translateX(-3px); }

/* agrandar */
.grow:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2); }

.border-fade:hover {
  border: 1px solid #0d6efd !important; }

.fadeInLeft {
  animation: fadeInLeft;
  animation-duration: .5s; }

/***************************** FIN TRANSICIONES Y ANIMACIONES ********************************/
/***************************** MIXINS *******************************/
/***************************** FIN MIXINS *******************************/
