* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    
}

html {
    font-size: 12px;
}

a {
    text-decoration: none;
    color: #292929;
}

img {    
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
    height: auto;
}

li {
    list-style-type: none;
}

main {
    grid-area: main;
}

.imagen__con__borde {
    border: solid 1px rgb(233, 233, 233);
    border-radius: 6px;
}

.cursor-pointer {
    cursor: pointer;
}

/***************************** TRANSICIONES Y ANIMACIONES ********************************/

.transition-regular {
    transition: all 0.3s;
}

/* efecto 3d */
.threed:hover
{
    box-shadow:
    1px 1px #e0e2e4,
    2px 2px #e0e2e4,
    3px 3px #e0e2e4;
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
}

/* agrandar */
.grow:hover
{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

/***************************** FIN TRANSICIONES Y ANIMACIONES ********************************/

/***************************** HEADER ********************************/
header {
    grid-area: header;
    background-color: rgba(251, 248, 241, 0.95);
    
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    width: 100%;
    z-index: 999;
    animation: fadeIn;
    animation-duration: 2s;
}

header #navbarNav {
    text-transform: uppercase;
}

.header__logo {
    width: 124px;
}

.header__menuDerecho button span{
    display: none;
}

.header__menuDerecho button {
    background-color: transparent;
    border-radius: 7px;
    border: none;
    font-size: 1rem;
    padding: 10px;
    color: #292929;
}

@media screen and (min-width: 768px) {
    .header__logo {
        width: 140px;
    }
}

@media screen and (min-width: 992px) {
    .header__logo {
        width: 170px;
    }

    .header__menuDerecho button span {
        display: inline;
    }
}

/***************************** index.html  ********************************/

#grilla__index {
    display: grid;
    grid-template-areas:
      "header"
      "publicidad"
      "novedades"
      "atributos"
      "footer";
    grid-template-rows: minmax(60px, max-content) 1fr auto auto auto; 
    grid-template-columns: 100%;
}

#novedades {
    margin-top: 40px;
    margin-bottom: 40px;
}

#atributos {
    max-width: 540px;
}

#atributos .card {
    font-size: 0.8rem;
}

#atributos .card img {
    width: 50px;
}

/*************** TABLET ****************/

@media screen and (min-width: 992px) {
    
    #atributos {
        max-width: 800px;
    }
}

/*****************************FIN index.html  ********************************/

/***************************** producto.html  ********************************/

#grilla__producto {
    display: grid;
    grid-template-areas:
      "header"
      "main"
      "footer";
    grid-template-rows: minmax(60px, max-content) auto 130px; 
    grid-template-columns: 100%;
    row-gap: 30px;
    
}

#grilla__producto #contenido__producto {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    max-width: 432px;
    margin: auto;
    column-gap: 10px;
}

#imagen__principal {
    max-width: 50%;
    margin: auto;
    transition: all .2s;
}

#imagen__principal:hover {
    transform: scale(1.5);
}

#imagen__principal img {
    border: solid 1px rgb(233, 233, 233);
    border-radius: 6px;
}

#contenedor__muestra {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    column-gap: 20px;
}

#contenedor__muestra a {
    max-width: 20%;
}

#contenedor__muestra a img {
    border: solid 1px rgb(233, 233, 233);
    border-radius: 6px;
    /* transition: all .2s; */
}

#contenedor__muestra a img:hover {
    border-color: black;
}

#info__producto {
    padding: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 7px;
    /* max-width: 432px;
    margin: auto; */
}

#info__producto #precio {
    font-size: x-large;
}

#info__producto #talle {
    /* font-size: 20px; */
    padding: 5px 0;
    width: 100%;
}

#info__producto #contenedor__cantidad {
    display: flex;
    justify-content:space-between;
    font-size: medium;
    margin: 10px 0;
    align-items: center;
}

#info__producto #cantidad {
    width: 100%;
    padding: 5px 0;
}

#info__producto #contenedor__botones {
    display: flex;
    flex-direction: column;
    row-gap: 6px;
}

#info__producto #contenedor__botones button {
    transition: all .3s;
}

#info__producto #contenedor__botones button:hover {
    opacity: 0.7;
}

/*************** TABLET - DESKTOP ****************/

@media screen and (min-width: 768px) {
    
    #grilla__producto #contenido__producto {
        flex-direction: row;
        max-width: 1000px;
        min-width: 722px;
        padding: 10px;
        align-items: center;
        width: 70%;
        height: 68vh;
        animation: fadeInLeft;
        animation-duration: .5s;
    }

    #contenedor__muestra {
        order: -1;
        flex-direction: column;
        width: 10%;
        align-items: center;
        /* justify-content:space-around; */
    }

    #contenedor__muestra a {
        max-width: 60px;
        /* padding: 30px; */
        margin: 10px 0;
       
    }

    #imagen__principal {
        margin: 0;
        width: 45%;
        text-align: center;
    }

    #imagen__principal img{
        max-width: 300px;
        width: 90%;
        
    }

    #info__producto {
        row-gap: 15;
        width: 45%;
        padding: 20px;
        border-radius: 8px;
        border: none;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    }



}


/***************************** FIN producto.html  ********************************/


/***************************** contacto.html  ********************************/

#main__Formulario {
    padding: 20px;
    text-align: center;
    margin: 30px auto;
    color: #292929;
    animation: fadeInLeft;
    animation-duration: .5s;
}

#main__Formulario form {
    max-width: 600px;
    margin: auto;
    padding: 30px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}

#main__Formulario h1 {
    text-transform: uppercase;
    color: #292929;
    margin: 30px auto;
}

#main__Formulario fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

#main__Formulario input[type="text"], #main__Formulario input[type="email"], 
#main__Formulario input[type="tel"] {
    padding: 10px;
    /* margin: 10px; */
    /* width: 100%; */
    box-sizing: border-box;
    width: 100%;
}

.bloqueSexo p {
    margin-bottom: 10px;
}

.bloqueSexo label{
    /* margin-top: 10px; */
    padding-left: 5px;
    padding-right: 30px;
} 

#main__Formulario textarea {
    /* width: 50%; */
    /* max-width: 400px; */
    padding: 10px;
    /* margin-top: 20px; */
    resize: none;
}

/* es la div que contiene los botones */
#bloqueBotones {
    /* max-width: 400px;
    width: 50%; */
    text-align: right;
    /* display: inline-block; */
    /* padding: 10px; */
    /* margin-right: -20px; */
}

#main__Formulario button{
    /* margin-top: 20px; */
    margin-left: 5px;
    background-color: #292929;
    border-radius: 3px;
    padding: 15px 40px 12px;
    border: none;
    font-size: 13px;
    color: #fff;
    text-transform: uppercase;
    box-sizing: border-box;
    transition: all .3s;
}

#main__Formulario button:hover {
    opacity: 0.7;
}

#main__Formulario #btn__Reset {
    background-color: #c262cb;
}

/***************************** FIN contacto.html  ********************************/


/***************************** login.html  ********************************/

#main__Login {
    color: #292929;
    padding: 20px;
}

.main__Login__Registro {
    margin-top: 70px;
    margin-bottom: 70px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
    min-width: 240px;
    max-width: 390px;
    animation: fadeInLeft;
    animation-duration: .5s;
}

.main__Login__Registro fieldset {
    padding: 20px;
    border-radius: 8px;
    border: none;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    
}


.main__Login__Registro input{
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing:border-box;
    
}

#main__Login button {
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #292929;
    border-radius: 6px;
    padding: 15px 40px 12px;
    border: none;
    font-size: 13px;
    color: #fff;
    text-transform: uppercase;
    width: 100%;
    transition: all .3s;
}

#main__Login button:hover {
    opacity: 0.7;
}

#main__Login input {
    border-radius: 6px;
    border: 1px solid #9f9f9f;
}


#main__Login .main__Login__Registro a {
    font-size: 14px;
}

#titulo__Registro {
    margin-top: 10px;
    margin-bottom: 10px;
}

.contenedor__EnLinea {
    font-size: 14px;
    margin-bottom: 15px;
    margin-top: 10px;
    white-space: nowrap;
}

.contenedor__EnLinea input {
    width: fit-content;
}

.contenedor__EnLinea div {
    display: inline;
    margin: 10px;
    
}

.contenedor__EnLinea button {
    width: max-content !important;
    box-sizing: border-box;
} 

.contenedor__EnLinea #btn__Reset {
    background-color: #c262cb;
}

/***************************** FIN login.html  ********************************/


/***************************** carrito.html  ********************************/

#main__Carrito {
    color: #292929;
    /* background-color: #F5F5F5; */
    padding: 20px;
    animation: fadeInLeft;
    animation-duration: .5s;
}

#titulo__Carrito {
    text-align: center;
    margin-top: 60px;
}

#tabla__Carrito {
    margin: 40px auto 8px auto;
    border-collapse: collapse;
}

#tabla__Carrito td, #tabla__Carrito th {
    /* border: solid 1px; */
    text-align: center;
    vertical-align: middle;
    padding: 10px 30px;
    /* background-color: rgba(230, 230, 230, 0.2); */
    border-bottom: solid 1px rgb(230, 229, 229);
}

#tabla__Carrito thead th {
    background-color: rgba(251, 248, 241, 0.95)
}

#tabla__Carrito tfoot td , #tabla__Carrito tfoot th{
    border-bottom: none;
}

#tabla__Carrito img {
    width: 80px;
    height: 90px;
    object-fit: cover;
    border: solid 1px rgb(214, 214, 214);
}

.celda__Quitar__Item {
    border-bottom: none !important;
}

#main__Carrito button {
    margin-top: 20px;
    margin-left: 5px;
    background-color: #292929;
    border-radius: 3px;
    padding: 15px 40px 12px;
    border: none;
    font-size: 13px;
    color: #fff;
    text-transform: uppercase;
   
}

#main__Carrito button:first-child{
    background-color: #c262cb;
}

#main__Carrito div{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    /* position: relative; */
}

#main__Carrito #bloque__Botones {
    margin-right: 70px;
    margin-bottom: 60px;
}

/***************************** FIN carrito.html  ********************************/


/***************************** tienda.html  ********************************/

#main__Tienda {
    color: #292929;
    /* background-color: #F5F5F5; */
    padding: 20px;
    animation: fadeInLeft;
    animation-duration: .5s;
}

#tabla__Productos {
    width: 80%;
    padding: 20px;
    margin: 40px auto;
}

#tabla__Productos tbody tr td{
    vertical-align: top;
    
}

#column__Categoria {
    width: 15%;
    
  
}

#column__Categoria div{
    /* background-color: #F5F5F5; */
    /* margin-top: 20px; */
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}

#column__Categoria ul li{
    list-style-type: none;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    transition: all .2s;
}

/* simulo link en Categorías */
#column__Categoria ul li:hover {
    cursor:pointer;
    font-weight: bold;
    transform: scale(1.05);
}

#ordenar__Por {
    border: none;
    text-align: right;
    padding: 10px 0;
    font-size: 14px;
    font-weight: bold;
    /* margin-right: 20px; */
}

#ordenar__Por select{
    border: none;
    margin-left: 3px;
}

#tabla__Productos section ol li {
    list-style-type: none;
    display: inline-block;
    text-align: center;
    /* padding: 20px; */
    width: 200px;
    height: 300px;
    vertical-align: top;
    position: relative;
    /* border: solid 1px; */
    margin: 15px;
    transition: all .2s;
}

#tabla__Productos section ol li:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}


#tabla__Productos section ol li img {
    width: 180px;
    height: 220px;
    object-fit:cover;
    text-align: center;
}



#tabla__Productos section ol li p {
    margin-top: 8px;
    margin-bottom: 5px;
}

#tabla__Productos section ol li h4 {
    /* position: relative; */
    /* bottom: 0; */
    position: absolute;
    text-align: center;
    bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}


/***************************** FIN tienda.html  ********************************/