#main-carrito {

    #contenedor-mobile {
        max-width: 484px;

        @media screen and (min-width: 576px) {
            display: none;
        }
    }

    #contenedor-desktop {
        display: none;
        max-width: 706px;

        @media screen and (min-width: 576px) {
            display: block;
        }

        table {
            img {
                width: 80px;
                height: 90px;
            }

            // .celda__Quitar__Item {
            //     background-color: white !important;
            // }
        }

    }
}