footer {
    .col {
        font-size: map-get($estilo-info-contacto, font-size);

        a {
            display: map-get($estilo-info-contacto, display);
            justify-content: map-get($estilo-info-contacto, justify-content);
        }
    }
}