#grilla__index {
    display: grid;
    grid-template-areas:
        "header"
        "publicidad"
        "novedades"
        "productos"
        "atributos"
        "footer";
    grid-template-rows: minmax(60px, max-content) 1fr auto auto auto auto;
    grid-template-columns: 100%;

    #carouselPublicidad {
        grid-area: publicidad;
        @include asigna-Imagenes($imagenes-carousel-publicidad);
    }


    #novedades {
        margin-top: 40px;
        margin-bottom: 40px;
        grid-area: novedades;
        max-width: 1140px;

        .row {
            .card {
                @include asigna-Imagenes($imagenes-novedades);
                background-color: map-get($colores, gris);
            }
        }
    }

    #productos {
        grid-area: productos;

        .row {
            width: 85%;

            .card {
                letter-spacing: 4px;
                max-width: 500px;
                
                img {
                    filter: brightness(50%);
                }
            }
        }

    }

    #atributos {
        grid-area: atributos;
        margin-top: 40px;
        margin-bottom: 60px;

        @media screen and (min-width: 992px) {
            max-width: 900px;
            margin-top: 80px;
            margin-bottom: 70px;
        }

        .card {
            font-size: 0.8rem;

            img {
                width: 50px;
            }
        }
    }


}