#grilla__index {
    display: grid;
    grid-template-areas:
        "header"
        "publicidad"
        "novedades"
        "productos"
        "atributos"
        "footer";
    grid-template-rows: minmax(60px, max-content) 1fr auto auto auto auto;
    grid-template-columns: 100%;

    #carouselPublicidad {
        grid-area: publicidad;
        @include asigna-Imagenes($imagenes-carousel-publicidad);
    }


    #novedades {
        margin-top: 40px;
        margin-bottom: 40px;
        grid-area: novedades;

        .card {
            @include asigna-Imagenes($imagenes-novedades);
        }
    }

    #atributos {
        max-width: 540px;
        grid-area: atributos;

        @media screen and (min-width: 992px) {
            max-width: 800px;
        }

        .card {
            font-size: 0.8rem;

            img {
                width: 50px;
            }
        }
    }

    #productos {
        grid-area: productos;
    }
}