#contenedor-producto {
    max-width: 966px;

    @media screen and (min-width: 768px) {
        margin: 5rem auto 0 auto;
    }

    #tarjeta-info-producto {
        max-width: 450px;

        @media screen and (min-width: 768px) {
            box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
        }
    }
}
