$font-default:'Roboto',
sans-serif;
$borde:solid 1px rgb(233, 233, 233);
$font-color: #292929;

/***************** index.html **********************/

$imagenes-carousel-publicidad:(
    imagen-1:"../assets/imagen-principal-1.jpg",
    imagen-2:"../assets/imagen-principal-2.jpg",
    imagen-3:"../assets/imagen-principal-3.jpg"
);

$imagenes-novedades:(
    imagen-1:"../assets/producto-A.jpg",
    imagen-2:"../assets/bandolera-negra.jpg",
    imagen-3:"../assets/riñonera_negra.jpg",
    imagen-4:"../assets/mochi-small-negra.jpg"
);

/***************** FIN index.html **********************/